<a href="https://colab.research.google.com/github/OscarDvr/Manejodedatos/blob/main/Copia1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="Teal" face="Comic Sans MS,arial">
  <h1 align="center"><i>Proyecto Final: PresProcessing</i></h1>
  </font>
  <h1 align="center"><i>Proyecto Final: Modelación de resultados sobre fútbol soccer por medio de la distribución Poisson</i></h1>
  </font>
  <font color="Black" face="Comic Sans MS,arial">
  <h5 align="center"><i>Daniela López Pavón</i></h5>
  <h5 align="center"><i>Oscar Daniel Vazquez Ramírez</i></h5>
    <h5 align="center"><i>Materia: Manejo de Datos</i></h5>
  </font>

In [1]:
# Libraries needed for the tutorial

import pandas as pd
import requests
import io

# Username of your GitHub account

username = 'OscarDvr'

# Personal Access Token (PAO) from your GitHub account

token = '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'

# Creates a re-usable session object with your creds in-built

github_session = requests.Session()
github_session.auth = (username, token)
    
# Downloading the csv file from your GitHub

url = 'https://raw.githubusercontent.com/OscarDvr/liga-mx/main/TablaMan.csv' # Make sure the url is the raw version of the file on GitHub
download = github_session.get(url).content

# Reading the downloaded content and making it a pandas dataframe

df = pd.read_csv(io.StringIO(download.decode('utf-8')))

# Printing out the first 5 rows of the dataframe to make sure everything is good

df

Empty DataFrame
Columns: [404: Not Found]
Index: []

In [2]:
#Rutas relativas
#import pandas as pd
#prueba = pd.read_csv('.//TablaMan.csv')

In [3]:
!wget https://github.com/daniela-elepe/Proyecto-Soccer-Model/blob/principal/TablaMF.csv
!pip install import-ipynb

--2022-01-22 01:58:25--  https://github.com/daniela-elepe/Proyecto-Soccer-Model/blob/principal/TablaMF.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘TablaMF.csv’

TablaMF.csv             [ <=>                ]   1.14M  --.-KB/s    in 0.08s

2022-01-22 01:58:26 (14.6 MB/s) - ‘TablaMF.csv’ saved [1196121]

Collecting import-ipynb
  Downloading import-ipynb-0.1.3.tar.gz (4.0 kB)
Building wheels for collected packages: import-ipynb
  Building wheel for import-ipynb (setup.py) ... done
  Created wheel for import-ipynb: filename=import_ipynb-0.1.3-py3-none-any.whl size=2975 sha256=d3a065e764d57086d71d28ff590be649ebb5d60ab37ae7c5feab9477ae604236
  Stored in directory: /root/.cache/pip/wheels/b1/5e/dc/79780689896a056199b0b9f24471e3ee184fbd816df355d5f0
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3

In [4]:
#Importamos las bibliotecas
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

#Importamos el dataset
data = pd.read_csv ('https://raw.githubusercontent.com/daniela-elepe/Proyecto-Soccer-Model/principal/TablaMF.csv')

#Leemos el dataset
data

      Temporada  Div       Fecha  ... Unnamed: 102 Unnamed: 103  Unnamed: 104
0          2016  SP1  19/08/2016  ...          NaN          NaN           NaN
1          2016  SP1  19/08/2016  ...          NaN          NaN           NaN
2          2016  SP1  20/08/2016  ...          NaN          NaN           NaN
3          2016  SP1  20/08/2016  ...          NaN          NaN           NaN
4          2016  SP1  20/08/2016  ...          NaN          NaN           NaN
...         ...  ...         ...  ...          ...          ...           ...
1717       2021  SP1  09/01/2022  ...         2.12         1.83          2.04
1718       2021  SP1  09/01/2022  ...         1.92         2.15          1.74
1719       2021  SP1  09/01/2022  ...         2.15         1.82          2.07
1720       2021  SP1  10/01/2022  ...         1.89         2.04          1.84
1721       2021  SP1  16/01/2022  ...         2.18         1.81          2.07

[1722 rows x 105 columns]

In [5]:
#aqui lo que estoy haciendo es ocupar que mi data ya tiene los resultados, y unicamente
# cambio los resultados a español
data_aux = data.copy() #Copiamos el dataset original
data_aux = data_aux[['Temporada', 'Div', 'Fecha','Equipo_L', 'Equipo_V', 'Goles_L',
       'Goles_V', 'Resultados']] #la data con todas las jornadas que necesitamos
#Vamos a cambiar las letras que traia asignada nuestros resultados
res_l = (data_aux['Resultados'] == 'H')
res_v = (data_aux['Resultados'] == 'A')
res_e = (data_aux['Resultados'] == 'D')
data_aux.loc[res_l, 'Resultados'] = 'L'
data_aux.loc[res_v, 'Resultados'] = 'V'
data_aux.loc[res_e, 'Resultados'] = 'E'
#Observamos la tabla
data_aux

      Temporada  Div       Fecha  ... Goles_L Goles_V  Resultados
0          2016  SP1  19/08/2016  ...       2       1           L
1          2016  SP1  19/08/2016  ...       1       1           E
2          2016  SP1  20/08/2016  ...       6       2           L
3          2016  SP1  20/08/2016  ...       1       1           E
4          2016  SP1  20/08/2016  ...       6       4           L
...         ...  ...         ...  ...     ...     ...         ...
1717       2021  SP1  09/01/2022  ...       0       0           E
1718       2021  SP1  09/01/2022  ...       2       0           L
1719       2021  SP1  09/01/2022  ...       2       2           E
1720       2021  SP1  10/01/2022  ...       1       2           V
1721       2021  SP1  16/01/2022  ...       1       0           L

[1722 rows x 8 columns]

In [6]:
#Vemos cuales son nuestras columnas para filtrarlas
data_aux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Temporada   1722 non-null   int64
 1   Div         1722 non-null   object
 2   Fecha       1722 non-null   object
 3   Equipo_L    1722 non-null   object
 4   Equipo_V    1722 non-null   object
 5   Goles_L     1722 non-null   int64
 6   Goles_V     1722 non-null   int64
 7   Resultados  1722 non-null   object
dtypes: int64(3), object(5)
memory usage: 107.8+ KB

In [7]:
#Optimizacion y cambio a int()
data_aux['Temporada'] = data_aux['Temporada'].astype('int32')
data_aux['Goles_L'] = data_aux['Goles_L'].astype('int32')
data_aux['Goles_V'] = data_aux['Goles_V'].astype('int32')

In [8]:
#Filtramos nuestro dataset por las columnas que necesitamos
columns_work = ['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L',
               'Goles_V', 'Resultados'] #Nos quedamos con las columnas: Temporada, División, Equipo Local y sus respectivos goles

In [9]:
#Copiamos el dataset por si lo necesitamos
soccer = data_aux.copy()

In [10]:
#Igualmente filtramos el dataset (completo)
soccer = soccer[columns_work]

In [11]:
#Notemos que soccer si tiene la misma longitud de nuestro dataset original
len(soccer)

1722

In [12]:
#Notemos que si se filtraron las columnas correctas
soccer.head()

   Temporada  Div   Equipo_L    Equipo_V  Goles_L  Goles_V Resultados
0       2016  SP1  La Coruna       Eibar        2        1          L
1       2016  SP1     Malaga     Osasuna        1        1          E
2       2016  SP1  Barcelona       Betis        6        2          L
3       2016  SP1    Granada  Villarreal        1        1          E
4       2016  SP1    Sevilla     Espanol        6        4          L

In [13]:
#Nos quedamos unicamente con la temporada del 2016
mask = soccer['Temporada'] == 2016   #Usamos la columna temporada con el condicional igual al 2016

In [14]:
#Notemos cuales son unicamente las columnas de la temp. 2016 mediante booleanos
mask

0        True
1        True
2        True
3        True
4        True
        ...
1717    False
1718    False
1719    False
1720    False
1721    False
Name: Temporada, Length: 1722, dtype: bool

In [15]:
#Aplicamos esta selección a nuestro dataset completo
soccer = soccer[mask]

In [16]:
#Notemos la longitud de las columnas de la temporada del 2016
len(soccer)

159

In [17]:
#Tabla para equipos locales
locales = soccer.copy() #copia dataset original
del locales['Equipo_V'] #de la columna equipos visitantes hacemos el
locales = locales.rename(columns = {'Equipo_L':'equipo',      #renombramiento
                                    'Goles_L':'goles_favor',
                                    'Goles_V':'goles_contra'
                                    })

In [18]:
#Tabla para equipos visitantes
visitantes = soccer.copy() #copia dataset original
del visitantes['Equipo_L'] #de la columna equipos locales hacemos el
visitantes = visitantes.rename(columns = {'Equipo_V':'equipo',
                                          'Goles_V':'goles_favor',
                                          'Goles_L':'goles_contra'
                                          })

In [19]:
#Podemos comprobar el renombramiento de la tabla de equipos locales
locales.head()

   Temporada  Div     equipo  goles_favor  goles_contra Resultados
0       2016  SP1  La Coruna            2             1          L
1       2016  SP1     Malaga            1             1          E
2       2016  SP1  Barcelona            6             2          L
3       2016  SP1    Granada            1             1          E
4       2016  SP1    Sevilla            6             4          L

In [20]:
#Promedio de Goles locales y visitantes
prom_gol_l = soccer['Goles_L'].mean() #usamos numpy para calcular la media de goles para locales
prom_gol_v = soccer['Goles_V'].mean() #usamos numpy para calcular la media de goles para visitantes

In [21]:
#Podemos ver los promedio de goles de todos los torneos
prom_gol_v, prom_gol_l

(1.2893081761006289, 1.6540880503144655)

In [22]:
#Promedio de goles por equipo local
soccer_l_prom = (locales.groupby(['equipo']).agg({'goles_favor':'mean', 
                                                  'goles_contra':'mean'
                                                })) #usando group by por equipo
#Hacemos un rename en la columna de media
soccer_l_prom = soccer_l_prom.rename(columns = {'goles_favor':'prom_gf_l',
                                               'goles_contra':'prom_gc_l'})
#soccer_l_prom #si queremos ver como la agrupación por equipo

In [23]:
#Promedio de goles por equipo vsisitante
soccer_v_prom = (visitantes.groupby(['equipo']).agg({'goles_favor':'mean',
                                                  'goles_contra':'mean'
                                                }))
#Hacemos un rename en la columna de media
soccer_v_prom = soccer_v_prom.rename(columns = {'goles_favor':'prom_gf_v',
                                               'goles_contra':'prom_gc_v'})
#soccer_v_prom #si queremos ver como la agrupación por equipo

In [24]:
#Factor de ataque locales
soccer_l_prom['f_a_l'] = soccer_l_prom['prom_gf_l'] / prom_gol_l
#Factor de defensa
soccer_l_prom['f_d_l'] = soccer_l_prom['prom_gc_l'] / prom_gol_v
#Podemos ver de nuevo la tabla ahora con el factor de ataque y defensa
soccer_l_prom

             prom_gf_l  prom_gc_l     f_a_l     f_d_l
equipo
Alaves        0.875000   1.000000  0.528992  0.775610
Ath Bilbao    1.875000   1.000000  1.133555  0.775610
Ath Madrid    2.375000   0.875000  1.435837  0.678659
Barcelona     2.250000   0.875000  1.360266  0.678659
Betis         1.250000   1.500000  0.755703  1.163415
Celta         1.875000   1.875000  1.133555  1.454268
Eibar         1.500000   0.750000  0.906844  0.581707
Espanol       1.250000   1.250000  0.755703  0.969512
Granada       0.750000   1.250000  0.453422  0.969512
La Coruna     1.875000   1.250000  1.133555  0.969512
Las Palmas    2.000000   1.000000  1.209125  0.775610
Leganes       0.875000   1.625000  0.528992  1.260366
Malaga        2.125000   1.375000  1.284696  1.066463
Osasuna       0.500000   1.875000  0.302281  1.454268
Real Madrid   2.375000   1.125000  1.435837  0.872561
Sevilla       2.375000   1.250000  1.435837  0.969512
Sociedad      1.875000   1.000000  1.133555  0.775610
Sp Gijon      1.375000   2.125000  0.831274  1.648171
Valencia      1.571429   2.285714  0.950027  1.772822
Villarreal    2.125000   0.625000  1.284696  0.484756

In [25]:
#Factor de ataque visitante
soccer_v_prom['f_a_v'] = soccer_v_prom['prom_gf_v'] / prom_gol_v
#Factor de defensa
soccer_v_prom['f_d_v'] = soccer_v_prom['prom_gc_v'] / prom_gol_l
#Podemos ver de nuevo la tabla ahora con el factor de ataque y defensa
soccer_v_prom

             prom_gf_v  prom_gc_v     f_a_v     f_d_v
equipo
Alaves           1.000   1.125000  0.775610  0.680133
Ath Bilbao       0.875   1.375000  0.678659  0.831274
Ath Madrid       1.250   0.875000  0.969512  0.528992
Barcelona        2.875   1.125000  2.229878  0.680133
Betis            1.000   2.125000  0.775610  1.284696
Celta            1.250   2.000000  0.969512  1.209125
Eibar            1.250   1.750000  0.969512  1.057985
Espanol          1.250   1.500000  0.969512  0.906844
Granada          1.000   2.875000  0.775610  1.738118
La Coruna        0.875   2.125000  0.678659  1.284696
Las Palmas       1.250   2.000000  0.969512  1.209125
Leganes          0.750   1.750000  0.581707  1.057985
Malaga           1.000   1.875000  0.775610  1.133555
Osasuna          1.125   2.375000  0.872561  1.435837
Real Madrid      3.000   0.714286  2.326829  0.431831
Sevilla          1.625   1.375000  1.260366  0.831274
Sociedad         1.625   1.625000  1.260366  0.982414
Sp Gijon         0.750   2.000000  0.581707  1.209125
Valencia         1.250   1.625000  0.969512  0.982414
Villarreal       1.000   0.750000  0.775610  0.453422

In [26]:
soccer_v_prom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Alaves to Villarreal
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prom_gf_v  20 non-null     float64
 1   prom_gc_v  20 non-null     float64
 2   f_a_v      20 non-null     float64
 3   f_d_v      20 non-null     float64
dtypes: float64(4)
memory usage: 800.0+ bytes

In [27]:
#Juntaremos las tablas para trabajar sobre una
abt = soccer_l_prom.merge(soccer_v_prom, on = ['equipo']) #la variable para juntar es equipo
#Observamos la tabla
abt

             prom_gf_l  prom_gc_l     f_a_l  ...  prom_gc_v     f_a_v     f_d_v
equipo                                       ...
Alaves        0.875000   1.000000  0.528992  ...   1.125000  0.775610  0.680133
Ath Bilbao    1.875000   1.000000  1.133555  ...   1.375000  0.678659  0.831274
Ath Madrid    2.375000   0.875000  1.435837  ...   0.875000  0.969512  0.528992
Barcelona     2.250000   0.875000  1.360266  ...   1.125000  2.229878  0.680133
Betis         1.250000   1.500000  0.755703  ...   2.125000  0.775610  1.284696
Celta         1.875000   1.875000  1.133555  ...   2.000000  0.969512  1.209125
Eibar         1.500000   0.750000  0.906844  ...   1.750000  0.969512  1.057985
Espanol       1.250000   1.250000  0.755703  ...   1.500000  0.969512  0.906844
Granada       0.750000   1.250000  0.453422  ...   2.875000  0.775610  1.738118
La Coruna     1.875000   1.250000  1.133555  ...   2.125000  0.678659  1.284696
Las Palmas    2.000000   1.000000  1.209125  ...   2.000000  0.969512  1.209125
Leganes       0.875000   1.625000  0.528992  ...   1.750000  0.581707  1.057985
Malaga        2.125000   1.375000  1.284696  ...   1.875000  0.775610  1.133555
Osasuna       0.500000   1.875000  0.302281  ...   2.375000  0.872561  1.435837
Real Madrid   2.375000   1.125000  1.435837  ...   0.714286  2.326829  0.431831
Sevilla       2.375000   1.250000  1.435837  ...   1.375000  1.260366  0.831274
Sociedad      1.875000   1.000000  1.133555  ...   1.625000  1.260366  0.982414
Sp Gijon      1.375000   2.125000  0.831274  ...   2.000000  0.581707  1.209125
Valencia      1.571429   2.285714  0.950027  ...   1.625000  0.969512  0.982414
Villarreal    2.125000   0.625000  1.284696  ...   0.750000  0.775610  0.453422

[20 rows x 8 columns]

In [28]:
#Hacemos un dataset para predecicciones futuras
soccer_to_pred = data.copy() #Copiamos el dataset original
soccer_to_pred = soccer_to_pred[columns_work] #Trabajamos con las mismas columnas
mask_pred      = (soccer_to_pred['Temporada'] == 2017) #Filtro de las columnas para Temp. 2017
soccer_to_pred = soccer_to_pred[mask_pred] #Aplicamos la mascara para predecir
#Observamos la tabla de la temporada 2017
soccer_to_pred

     Temporada  Div     Equipo_L    Equipo_V  Goles_L  Goles_V Resultados
159       2017  SP1      Espanol   La Coruna        1        1          D
160       2017  SP1        Eibar  Ath Madrid        0        2          A
161       2017  SP1   Las Palmas    Sp Gijon        1        0          H
162       2017  SP1  Real Madrid     Granada        5        0          H
163       2017  SP1     Sociedad     Sevilla        0        4          A
..         ...  ...          ...         ...      ...      ...        ...
544       2017  SP1        Betis  Ath Bilbao        0        2          A
545       2017  SP1      Espanol  Ath Madrid        1        0          H
546       2017  SP1    La Coruna       Celta        1        3          A
547       2017  SP1  Real Madrid   Barcelona        0        3          A
548       2017  SP1     Valencia  Villarreal        0        1          A

[390 rows x 7 columns]

In [29]:
#Ahora le pegamos nuestra tabla abt
merge_1 = soccer_to_pred.merge(abt, left_on = 'Equipo_L', right_on = 'equipo')
#Observamos la tabla del torneo 2017 con todos los factores de abt
merge_1.head()

   Temporada  Div Equipo_L   Equipo_V  ...  prom_gf_v  prom_gc_v     f_a_v     f_d_v
0       2017  SP1  Espanol  La Coruna  ...       1.25        1.5  0.969512  0.906844
1       2017  SP1  Espanol    Granada  ...       1.25        1.5  0.969512  0.906844
2       2017  SP1  Espanol    Sevilla  ...       1.25        1.5  0.969512  0.906844
3       2017  SP1  Espanol   Sociedad  ...       1.25        1.5  0.969512  0.906844
4       2017  SP1  Espanol    Osasuna  ...       1.25        1.5  0.969512  0.906844

[5 rows x 15 columns]

In [30]:
#Hacemos un filtro para seleccionar las columnas que ocuparemos
colums_pred_work = ['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L', 'Goles_V', 
                    'f_a_l', 'f_d_l']
merge_1 = merge_1[colums_pred_work] #Aplicamos a la tabla merge_1 para seleccionar las columnas
#Observamos que la tabla solo tiene las columnas que ocuparemos
merge_1

     Temporada  Div Equipo_L    Equipo_V  Goles_L  Goles_V     f_a_l     f_d_l
0         2017  SP1  Espanol   La Coruna        1        1  0.755703  0.969512
1         2017  SP1  Espanol     Granada        3        1  0.755703  0.969512
2         2017  SP1  Espanol     Sevilla        3        1  0.755703  0.969512
3         2017  SP1  Espanol    Sociedad        1        2  0.755703  0.969512
4         2017  SP1  Espanol     Osasuna        3        0  0.755703  0.969512
..         ...  ...      ...         ...      ...      ...       ...       ...
357       2017  SP1   Alaves    Valencia        1        2  0.528992  0.775610
358       2017  SP1   Alaves     Espanol        1        0  0.528992  0.775610
359       2017  SP1   Alaves       Eibar        1        2  0.528992  0.775610
360       2017  SP1   Alaves  Las Palmas        2        0  0.528992  0.775610
361       2017  SP1   Alaves      Malaga        1        0  0.528992  0.775610

[362 rows x 8 columns]

In [31]:
#Hacemos lo mismo pero ahora para los visitantes
merge_2 = merge_1.merge(abt, left_on = 'Equipo_V', right_on = 'equipo')
merge_2.head()

   Temporada  Div    Equipo_L  ... prom_gc_v     f_a_v     f_d_v
0       2017  SP1     Espanol  ...     2.125  0.678659  1.284696
1       2017  SP1     Espanol  ...     2.125  0.678659  1.284696
2       2017  SP1       Eibar  ...     2.125  0.678659  1.284696
3       2017  SP1       Eibar  ...     2.125  0.678659  1.284696
4       2017  SP1  Las Palmas  ...     2.125  0.678659  1.284696

[5 rows x 16 columns]

In [32]:
#Renombrando las columnas
colums_pred_work = ['Temporada',
 'Div',
 'Equipo_L',
 'Equipo_V',
 'Goles_L',
 'Goles_V',
 'f_a_l_x',
 'f_d_l_x',
 'f_a_v', 
 'f_d_v']

In [33]:
#Aplicamos el filtro para merge2
merge_2 = merge_2[colums_pred_work]

In [34]:
#Copiamos el dataset por si lo llegamos a ocupar
lambdas = merge_2.copy()

In [35]:
#Construccion de las lambdas que necesitamos para el modelo Poisson
#Factor de ataque de los locales + factor de defensa de la visita + promedio de goles de los locales
lambdas['lambda_l'] = lambdas['f_a_l_x'] * lambdas['f_d_v'] * prom_gol_l
#Factor de ataque de los visitantes + factor de defensa de los locales + promedio de goles de los visitantes
lambdas['lambda_v'] = lambdas['f_a_v'] * lambdas['f_d_l_x'] * prom_gol_v

#Observamos la tabla
lambdas.head()

   Temporada  Div    Equipo_L  ...     f_d_v  lambda_l  lambda_v
0       2017  SP1     Espanol  ...  1.284696  1.605870  0.848323
1       2017  SP1     Espanol  ...  1.284696  1.605870  0.848323
2       2017  SP1       Eibar  ...  1.284696  1.927044  0.508994
3       2017  SP1       Eibar  ...  1.284696  1.927044  0.508994
4       2017  SP1  Las Palmas  ...  1.284696  2.569392  0.678659

[5 rows x 12 columns]

In [36]:
#Minimo y maximo de goles
max_goals = soccer['Goles_L'].max()
min_goals = soccer['Goles_L'].min()

In [37]:
#Vemos cuales son los minimos y maximos goles locales
int(min_goals), int(max_goals)

(0, 7)

In [38]:
#Minimo y maximo de goles
max_goals_v = soccer['Goles_V'].max()
min_goals_v = soccer['Goles_V'].min()

In [39]:
#Podemos ver cuales son los minimos y maximos goles visitantes
min_goals_v, max_goals_v

(0, 6)

In [40]:
#Distribucion poisson
def pois_goals_p(lambd:float ,num_goals:int) -> float:
  '''
  La función poisson calcula la probabilidad de meter ciertos
  num_goals en un partido con el parametro lambda

  inputs: lambda, num_goals
  outputs: probabilidad de meter num_goals
  '''
  return ( ( (math.exp(-lambd)) * (lambd ** num_goals) ) / (math.factorial(num_goals)) ) #Expresión Poisson

In [41]:
#Probabilidades de meter n goles de los locales (lambdas locales)
for i in range(int(min_goals) ,int(max_goals) + 1):
    import math
    lambdas[f"P_GL{i}"] = lambdas['lambda_l'].apply(pois_goals_p, num_goals = i)

In [42]:
#Probabilidades de meter n goles de los visitantes (lambdas visitantes)
for i in range(int(min_goals) ,int(max_goals) + 1):
    import math
    lambdas[f'P_GV({i})'] = lambdas['lambda_v'].apply(pois_goals_p, num_goals = i)

In [43]:
#Podemos ver la tabla ya con las lambdas
lambdas.head()

   Temporada  Div    Equipo_L  ...   P_GV(5)   P_GV(6)   P_GV(7)
0       2017  SP1     Espanol  ...  0.001567  0.000222  0.000027
1       2017  SP1     Espanol  ...  0.001567  0.000222  0.000027
2       2017  SP1       Eibar  ...  0.000171  0.000015  0.000001
3       2017  SP1       Eibar  ...  0.000171  0.000015  0.000001
4       2017  SP1  Las Palmas  ...  0.000609  0.000069  0.000007

[5 rows x 28 columns]

In [44]:
#Copiamos la tabla lambdas como Tabla prefinal
pre_final = lambdas.copy()

In [45]:
#Vemos que columnas tenemos en la tabla prefinal para filtrarlas
pre_final.columns

Index(['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L', 'Goles_V',
       'f_a_l_x', 'f_d_l_x', 'f_a_v', 'f_d_v', 'lambda_l', 'lambda_v', 'P_GL0',
       'P_GL1', 'P_GL2', 'P_GL3', 'P_GL4', 'P_GL5', 'P_GL6', 'P_GL7',
       'P_GV(0)', 'P_GV(1)', 'P_GV(2)', 'P_GV(3)', 'P_GV(4)', 'P_GV(5)',
       'P_GV(6)', 'P_GV(7)'],
      dtype='object')

In [46]:
#Filtramos solo las tablas que necesitamos
pre_final = pre_final[['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L', 
       'Goles_V','P_GV(0)', 'P_GV(1)', 'P_GV(2)', 'P_GV(3)', 'P_GV(4)', 'P_GV(5)',
       'P_GV(6)', 'P_GV(7)', 'P_GL0', 'P_GL1', 'P_GL2', 'P_GL3', 'P_GL4',
       'P_GL5', 'P_GL6', 'P_GL7']]

In [47]:
#Creamos 3 tablas más con el valor 0
pre_final['P_Local'] = 0 #Proba gana locales
pre_final['P_Visitante'] = 0 #Proba gana visitantes
pre_final['P_Empate'] = 0 #Proba empate

In [48]:
#Podemos ver la tabla con las nuevas columnas
pre_final.head()

   Temporada  Div    Equipo_L  ... P_Local  P_Visitante  P_Empate
0       2017  SP1     Espanol  ...       0            0         0
1       2017  SP1     Espanol  ...       0            0         0
2       2017  SP1       Eibar  ...       0            0         0
3       2017  SP1       Eibar  ...       0            0         0
4       2017  SP1  Las Palmas  ...       0            0         0

[5 rows x 25 columns]

In [49]:
#Creamos un for para el máximo de goles
for i in range (int(max_goals) + 1):
    for j in range(int(max_goals)+ 1):
        if ((i != j) and (j > i)):
            pre_final['P_Local']     = pre_final['P_Local']     + (pre_final[f'P_GL{j}'] * pre_final[f'P_GV({i})'])
            pre_final['P_Visitante'] = pre_final['P_Visitante'] + (pre_final[f'P_GL{i}'] * pre_final[f'P_GV({j})'])
        elif(i == j):
            pre_final['P_Empate']    = pre_final['P_Empate']    + (pre_final[f'P_GL{i}'] * pre_final[f'P_GV({j})'])

In [50]:
#Se crea un for para el máximo de goles
for i in range(int(max_goals) + 1):
    for j in range(int(max_goals) + 1):
        if ((i != j) and (j>i)):
        #if (i == j):
            print( i, j)

0 1
0 2
0 3
0 4
0 5
0 6
0 7
1 2
1 3
1 4
1 5
1 6
1 7
2 3
2 4
2 5
2 6
2 7
3 4
3 5
3 6
3 7
4 5
4 6
4 7
5 6
5 7
6 7

In [51]:
#Imprimimos la tabla pre final
pre_final

     Temporada  Div    Equipo_L  ...   P_Local  P_Visitante  P_Empate
0         2017  SP1     Espanol  ...  0.552472     0.197813  0.249445
1         2017  SP1     Espanol  ...  0.552472     0.197813  0.249445
2         2017  SP1       Eibar  ...  0.713745     0.088561  0.196825
3         2017  SP1       Eibar  ...  0.713745     0.088561  0.196825
4         2017  SP1  Las Palmas  ...  0.776358     0.076144  0.142517
..         ...  ...         ...  ...       ...          ...       ...
337       2017  SP1    Sp Gijon  ...  0.271162     0.514708  0.212673
338       2017  SP1    Valencia  ...  0.290720     0.503405  0.203473
339       2017  SP1      Malaga  ...  0.578688     0.219960  0.199019
340       2017  SP1      Alaves  ...  0.328968     0.352401  0.318618
341       2017  SP1      Alaves  ...  0.328968     0.352401  0.318618

[342 rows x 25 columns]

In [52]:
#Creamos una copia de la tabla pre final para la final
final = pre_final.copy()

In [53]:
#Vemos las columnas de la tabla
final.columns

Index(['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L', 'Goles_V',
       'P_GV(0)', 'P_GV(1)', 'P_GV(2)', 'P_GV(3)', 'P_GV(4)', 'P_GV(5)',
       'P_GV(6)', 'P_GV(7)', 'P_GL0', 'P_GL1', 'P_GL2', 'P_GL3', 'P_GL4',
       'P_GL5', 'P_GL6', 'P_GL7', 'P_Local', 'P_Visitante', 'P_Empate'],
      dtype='object')

In [54]:
#Filtramos solo las que queremos ver
final = final[['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L', 'Goles_V',
        'P_Local', 'P_Visitante', 'P_Empate']]

In [55]:
#Imprimimos la tabla final
final

     Temporada  Div    Equipo_L  ...   P_Local  P_Visitante  P_Empate
0         2017  SP1     Espanol  ...  0.552472     0.197813  0.249445
1         2017  SP1     Espanol  ...  0.552472     0.197813  0.249445
2         2017  SP1       Eibar  ...  0.713745     0.088561  0.196825
3         2017  SP1       Eibar  ...  0.713745     0.088561  0.196825
4         2017  SP1  Las Palmas  ...  0.776358     0.076144  0.142517
..         ...  ...         ...  ...       ...          ...       ...
337       2017  SP1    Sp Gijon  ...  0.271162     0.514708  0.212673
338       2017  SP1    Valencia  ...  0.290720     0.503405  0.203473
339       2017  SP1      Malaga  ...  0.578688     0.219960  0.199019
340       2017  SP1      Alaves  ...  0.328968     0.352401  0.318618
341       2017  SP1      Alaves  ...  0.328968     0.352401  0.318618

[342 rows x 9 columns]

In [56]:
#Hacemos que la tabla predicciones tome el valor SA
final['preds'] = 'SA'

In [57]:
final

     Temporada  Div    Equipo_L  ... P_Visitante  P_Empate  preds
0         2017  SP1     Espanol  ...    0.197813  0.249445     SA
1         2017  SP1     Espanol  ...    0.197813  0.249445     SA
2         2017  SP1       Eibar  ...    0.088561  0.196825     SA
3         2017  SP1       Eibar  ...    0.088561  0.196825     SA
4         2017  SP1  Las Palmas  ...    0.076144  0.142517     SA
..         ...  ...         ...  ...         ...       ...    ...
337       2017  SP1    Sp Gijon  ...    0.514708  0.212673     SA
338       2017  SP1    Valencia  ...    0.503405  0.203473     SA
339       2017  SP1      Malaga  ...    0.219960  0.199019     SA
340       2017  SP1      Alaves  ...    0.352401  0.318618     SA
341       2017  SP1      Alaves  ...    0.352401  0.318618     SA

[342 rows x 10 columns]

In [58]:
#Creamos las condiciones de las predicciones
mask_local = (final['P_Local'] > final['P_Visitante']) #Proba locales mayor a proba visitantes
final.loc[mask_local, 'preds'] = 'L' #Ganan los locales

mask_visitante = (final['P_Local'] < final['P_Visitante']) #Proba locales menor a proba visitantes
final.loc[mask_visitante, 'preds'] = 'V'#Ganan los visitantes

#Condiciones para el empate
mask_empate = (( (final['P_Empate'] > final['P_Local']) & (final['P_Empate'] > final['P_Visitante'])
              | ((abs(final['P_Local'] - final['P_Visitante']) < 0.08 )) ))

final.loc[mask_empate, 'preds'] = 'E' #Resulta en empate

In [59]:
#Imprimimos la tabla final
final.head()

   Temporada  Div    Equipo_L   Equipo_V  ...   P_Local  P_Visitante  P_Empate  preds
0       2017  SP1     Espanol  La Coruna  ...  0.552472     0.197813  0.249445      L
1       2017  SP1     Espanol  La Coruna  ...  0.552472     0.197813  0.249445      L
2       2017  SP1       Eibar  La Coruna  ...  0.713745     0.088561  0.196825      L
3       2017  SP1       Eibar  La Coruna  ...  0.713745     0.088561  0.196825      L
4       2017  SP1  Las Palmas  La Coruna  ...  0.776358     0.076144  0.142517      L

[5 rows x 10 columns]

In [60]:
#Resultados a partir del marcador
res_l = (final['Goles_L'] > final['Goles_V']) #Cuando gana el local
res_v = (final['Goles_L'] < final['Goles_V']) #Cuando gana el visitante
res_e = (final['Goles_L'] == final['Goles_V']) #Cuando hay empate

#Los buscamos por renglon (.loc) y les asignamos valores
final.loc[res_l, 'Resultados'] = 'L' #L = Gano local
final.loc[res_v, 'Resultados'] = 'V' #V = Gano visitante
final.loc[res_e, 'Resultados'] = 'E' #E = Empate

In [61]:
#Podemos observar la tabla
final.head()

   Temporada  Div    Equipo_L  ...  P_Empate  preds  Resultados
0       2017  SP1     Espanol  ...  0.249445      L           E
1       2017  SP1     Espanol  ...  0.249445      L           L
2       2017  SP1       Eibar  ...  0.196825      L           L
3       2017  SP1       Eibar  ...  0.196825      L           E
4       2017  SP1  Las Palmas  ...  0.142517      L           E

[5 rows x 11 columns]

In [62]:
#Hacemos las predicciones
final['preds'].value_counts(), final.Resultados.value_counts()

(L    196
 V    108
 E     38
 Name: preds, dtype: int64, L    168
 V    107
 E     67
 Name: Resultados, dtype: int64)

In [63]:
#Los valores predecidos son iguales a los resultados
accuracy = (final.preds == final.Resultados)

In [64]:
#Mediante el booleano True fue los acertados y False los no acertados
accuracy.value_counts()

True     191
False    151
dtype: int64

In [65]:
#Hacemos una lista de los valores acertas y los no acertados
x = list(accuracy.value_counts())

In [66]:
#Podemos observar el valor
x

[191, 151]

In [67]:
#Vemos la precisión del modelo
precision = x[1] / sum(x)
precision #Este es el valor de precisión, <44%

0.4415204678362573

In [68]:
mask_aux    = (data_aux['Temporada'] == 2016) #Filtro de las columnas para Temp. 2016
data_t16 = data_aux[mask_aux] #Aplicamos la mascara para predecir
data_t16

     Temporada  Div       Fecha  ... Goles_L Goles_V  Resultados
0         2016  SP1  19/08/2016  ...       2       1           L
1         2016  SP1  19/08/2016  ...       1       1           E
2         2016  SP1  20/08/2016  ...       6       2           L
3         2016  SP1  20/08/2016  ...       1       1           E
4         2016  SP1  20/08/2016  ...       6       4           L
..         ...  ...         ...  ...     ...     ...         ...
154       2016  SP1  17/12/2016  ...       1       3           V
155       2016  SP1  18/12/2016  ...       4       1           L
156       2016  SP1  18/12/2016  ...       2       0           L
157       2016  SP1  18/12/2016  ...       1       1           E
158       2016  SP1  19/12/2016  ...       2       1           L

[159 rows x 8 columns]

In [69]:
mask_aux    = (data_aux['Temporada'] == 2017) #Filtro de las columnas para Temp. 2017
data_t17 = data_aux[mask_aux] #Aplicamos la mascara para predecir
data_t17

     Temporada  Div       Fecha  ... Goles_L Goles_V  Resultados
159       2017  SP1  06/01/2017  ...       1       1           E
160       2017  SP1  07/01/2017  ...       0       2           V
161       2017  SP1  07/01/2017  ...       1       0           L
162       2017  SP1  07/01/2017  ...       5       0           L
163       2017  SP1  07/01/2017  ...       0       4           V
..         ...  ...         ...  ...     ...     ...         ...
544       2017  SP1  22/12/2017  ...       0       2           V
545       2017  SP1  22/12/2017  ...       1       0           L
546       2017  SP1  23/12/2017  ...       1       3           V
547       2017  SP1  23/12/2017  ...       0       3           V
548       2017  SP1  23/12/2017  ...       0       1           V

[390 rows x 8 columns]

In [70]:
mask_aux    = (data_aux['Temporada'] == 2018) #Filtro de las columnas para Temp. 2017
data_aux18 = data_aux[mask_aux] #Aplicamos la mascara para predecir
data_aux18

     Temporada  Div       Fecha  ... Goles_L Goles_V  Resultados
549       2018  SP1  06/01/2018  ...       2       0           L
550       2018  SP1  06/01/2018  ...       1       2           V
551       2018  SP1  06/01/2018  ...       3       5           V
552       2018  SP1  06/01/2018  ...       2       1           L
553       2018  SP1  07/01/2018  ...       2       0           L
..         ...  ...         ...  ...     ...     ...         ...
755       2018  SP1  19/05/2018  ...       2       2           E
756       2018  SP1  20/05/2018  ...       0       1           V
757       2018  SP1  20/05/2018  ...       2       2           E
758       2018  SP1  20/05/2018  ...       1       0           L
759       2018  SP1  20/05/2018  ...       2       1           L

[211 rows x 8 columns]

In [71]:
mask_aux    = (data_aux['Temporada'] == 2019) #Filtro de las columnas para Temp. 2017
data_t19 = data_aux[mask_aux] #Aplicamos la mascara para predecir
data_t19

     Temporada  Div       Fecha  ... Goles_L Goles_V  Resultados
760       2019  SP1  16/08/2019  ...       1       0           L
761       2019  SP1  17/08/2019  ...       1       3           V
762       2019  SP1  17/08/2019  ...       1       1           E
763       2019  SP1  17/08/2019  ...       2       1           L
764       2019  SP1  17/08/2019  ...       0       1           V
..         ...  ...         ...  ...     ...     ...         ...
935       2019  SP1  22/12/2019  ...       2       0           L
936       2019  SP1  22/12/2019  ...       3       4           V
937       2019  SP1  22/12/2019  ...       1       2           V
938       2019  SP1  22/12/2019  ...       3       1           L
939       2019  SP1  22/12/2019  ...       0       0           E

[180 rows x 8 columns]

In [72]:
mask_aux    = (data_aux['Temporada'] == 2020) #Filtro de las columnas para Temp. 2017
data_t20 = data_aux[mask_aux] #Aplicamos la mascara para predecir
data_t20

      Temporada  Div       Fecha  ... Goles_L Goles_V  Resultados
940        2020  SP1  03/01/2020  ...       2       2           E
941        2020  SP1  03/01/2020  ...       1       1           E
942        2020  SP1  04/01/2020  ...       1       0           L
943        2020  SP1  04/01/2020  ...       0       3           V
944        2020  SP1  04/01/2020  ...       2       1           L
...         ...  ...         ...  ...     ...     ...         ...
1290       2020  SP1  30/12/2020  ...       1       0           L
1291       2020  SP1  30/12/2020  ...       2       1           L
1292       2020  SP1  30/12/2020  ...       1       1           E
1293       2020  SP1  31/12/2020  ...       0       1           V
1294       2020  SP1  31/12/2020  ...       1       1           E

[355 rows x 8 columns]

In [73]:
data['Temporada'].value_counts()

2021    427
2017    390
2020    355
2018    211
2019    180
2016    159
Name: Temporada, dtype: int64

In [74]:
#def soccer_model(data_t, data_t2, fecha): 
  
  
 # prom_gol_l = soccer['Goles_L'].mean()
  #prom_gol_v = soccer['Goles_L'].mean()
  #print(data_t)

In [75]:
def separacion(data_t, temporada):
  data_t = data_aux.copy()
  data_t = data_aux[['Temporada', 'Div', 'Equipo_L', 'Equipo_V', 'Goles_L',
       'Goles_V', 'Resultados']]
  mask_aux    = (data_t['Temporada'] == temporada) #Filtro de las columnas para Temp. 
  data_t = data_t[mask_aux] #Aplicamos la mascara para predecir
  return (data_t)

In [76]:
data_18 = separacion(soccer, 2018)

In [77]:
data_18

     Temporada  Div    Equipo_L     Equipo_V  Goles_L  Goles_V Resultados
549       2018  SP1  Ath Madrid       Getafe        2        0          L
550       2018  SP1  Las Palmas        Eibar        1        2          V
551       2018  SP1     Sevilla        Betis        3        5          V
552       2018  SP1    Valencia       Girona        2        1          L
553       2018  SP1  Ath Bilbao       Alaves        2        0          L
..         ...  ...         ...          ...      ...      ...        ...
755       2018  SP1  Villarreal  Real Madrid        2        2          E
756       2018  SP1  Ath Bilbao      Espanol        0        1          V
757       2018  SP1  Ath Madrid        Eibar        2        2          E
758       2018  SP1   Barcelona     Sociedad        1        0          L
759       2018  SP1    Valencia    La Coruna        2        1          L

[211 rows x 7 columns]

In [78]:
def renom_l(data):
  locales = data.copy()
  del locales['Equipo_V']
  locales = locales.rename(columns = {'Equipo_L':'equipo',   #renombramiento
                                    'Goles_L':'goles_favor',
                                    'Goles_V':'goles_contra'
                                    }) 
  return (locales)

In [79]:
data_18l = renom_l(data_18)

In [80]:
data_18l

     Temporada  Div      equipo  goles_favor  goles_contra Resultados
549       2018  SP1  Ath Madrid            2             0          L
550       2018  SP1  Las Palmas            1             2          V
551       2018  SP1     Sevilla            3             5          V
552       2018  SP1    Valencia            2             1          L
553       2018  SP1  Ath Bilbao            2             0          L
..         ...  ...         ...          ...           ...        ...
755       2018  SP1  Villarreal            2             2          E
756       2018  SP1  Ath Bilbao            0             1          V
757       2018  SP1  Ath Madrid            2             2          E
758       2018  SP1   Barcelona            1             0          L
759       2018  SP1    Valencia            2             1          L

[211 rows x 6 columns]

In [81]:
def renom_v(data):
  visitantes = data.copy()
  del visitantes['Equipo_L']
  visitantes = visitantes.rename(columns = {'Equipo_V':'equipo',   #renombramiento
                                    'Goles_V':'goles_favor',
                                    'Goles_L':'goles_contra'
                                    }) 
  return (visitantes)

In [82]:
data_18v = renom_v(data_18)

In [83]:
data_18v

     Temporada  Div       equipo  goles_contra  goles_favor Resultados
549       2018  SP1       Getafe             2            0          L
550       2018  SP1        Eibar             1            2          V
551       2018  SP1        Betis             3            5          V
552       2018  SP1       Girona             2            1          L
553       2018  SP1       Alaves             2            0          L
..         ...  ...          ...           ...          ...        ...
755       2018  SP1  Real Madrid             2            2          E
756       2018  SP1      Espanol             0            1          V
757       2018  SP1        Eibar             2            2          E
758       2018  SP1     Sociedad             1            0          L
759       2018  SP1    La Coruna             2            1          L

[211 rows x 6 columns]

In [84]:
 def promediog(data): 
  prom_goll = data['Goles_L'].mean()
  prom_golv = data['Goles_V'].mean()
  return (prom_goll, prom_golv)

In [85]:
promediog(data_18)

(1.5924170616113744, 1.1374407582938388)

In [86]:
prom_goll = (promediog(data_18)[0])

In [87]:
prom_golv = (promediog(data_18)[1])

In [108]:
#Promedio de goles por equipo local
def promgl(data):
  soccer_lprom = (data.groupby(['equipo']).agg({'goles_favor':'mean', 
                                                  'goles_contra':'mean'
                                                })) #usando group by por equipo
#Hacemos un rename en la columna de media
  soccer_lprom = soccer_lprom.rename(columns = {'goles_favor':'prom_gf_l',
                                               'goles_contra':'prom_gc_l'})
  return (soccer_lprom)

In [127]:
soccer_lprom = promgl(data_18v)
data_18v

     Temporada  Div       equipo  goles_contra  goles_favor Resultados
549       2018  SP1       Getafe             2            0          L
550       2018  SP1        Eibar             1            2          V
551       2018  SP1        Betis             3            5          V
552       2018  SP1       Girona             2            1          L
553       2018  SP1       Alaves             2            0          L
..         ...  ...          ...           ...          ...        ...
755       2018  SP1  Real Madrid             2            2          E
756       2018  SP1      Espanol             0            1          V
757       2018  SP1        Eibar             2            2          E
758       2018  SP1     Sociedad             1            0          L
759       2018  SP1    La Coruna             2            1          L

[211 rows x 6 columns]

In [135]:
soccer_lprom = promgl(data_18l)
soccer_lprom

             prom_gf_l  prom_gc_l
equipo
Alaves        1.400000   1.000000
Ath Bilbao    1.272727   1.000000
Ath Madrid    1.833333   0.416667
Barcelona     2.454545   0.636364
Betis         1.800000   1.600000
Celta         2.090909   1.181818
Eibar         0.900000   0.900000
Espanol       1.100000   1.000000
Getafe        1.100000   0.600000
Girona        1.600000   0.900000
La Coruna     1.200000   1.700000
Las Palmas    0.636364   1.727273
Leganes       1.083333   1.083333
Levante       1.666667   1.444444
Malaga        0.454545   1.181818
Real Madrid   3.500000   1.100000
Sevilla       1.636364   1.727273
Sociedad      2.800000   1.200000
Valencia      1.700000   1.100000
Villarreal    1.750000   1.333333

In [90]:
#Promedio de goles por equipo sitante
def promgv(data):
  soccer_vprom = (data.groupby(['equipo']).agg({'goles_favor':'mean', 
                                                  'goles_contra':'mean'
                                                })) #usando group by por equipo
#Hacemos un rename en la columna de media
  soccer_vprom = soccer_vprom.rename(columns = {'goles_favor':'prom_gf_v',
                                               'goles_contra':'prom_gc_v'})
  return (soccer_vprom)

In [134]:
soccer_vprom = promgv(data_18v)
soccer_vprom

             prom_gf_v  prom_gc_v
equipo
Alaves        1.181818   1.363636
Ath Bilbao    0.900000   1.900000
Ath Madrid    1.222222   1.000000
Barcelona     2.700000   1.500000
Betis         1.545455   1.272727
Celta         0.600000   2.200000
Eibar         1.181818   1.090909
Espanol       1.000000   1.000000
Getafe        0.818182   1.000000
Girona        1.181818   2.181818
La Coruna     0.636364   2.272727
Las Palmas    0.400000   1.700000
Leganes       0.900000   2.400000
Levante       1.166667   1.916667
Malaga        0.600000   1.700000
Real Madrid   2.416667   1.583333
Sevilla       1.100000   1.700000
Sociedad      0.636364   1.636364
Valencia      1.090909   0.909091
Villarreal    1.333333   1.555556

In [139]:
#Factor de ataque y defensa de locales y visitantes
def fayd(data):
#Factor de ataque locales
  soccer_lprom['f_a_l'] = soccer_lprom['prom_gf_l'] / prom_goll
#Factor de defensa
  soccer_lprom['f_d_l'] = soccer_lprom['prom_gc_l'] / prom_golv
#Podemos ver de nuevo la tabla ahora con el factor de ataque y defensa
  return (soccer_lprom)

In [140]:
fayd(soccer_vprom)

             prom_gf_l  prom_gc_l     f_a_l     f_d_l
equipo
Alaves        1.400000   1.000000  0.879167  0.879167
Ath Bilbao    1.272727   1.000000  0.799242  0.879167
Ath Madrid    1.833333   0.416667  1.151290  0.366319
Barcelona     2.454545   0.636364  1.541396  0.559470
Betis         1.800000   1.600000  1.130357  1.406667
Celta         2.090909   1.181818  1.313041  1.039015
Eibar         0.900000   0.900000  0.565179  0.791250
Espanol       1.100000   1.000000  0.690774  0.879167
Getafe        1.100000   0.600000  0.690774  0.527500
Girona        1.600000   0.900000  1.004762  0.791250
La Coruna     1.200000   1.700000  0.753571  1.494583
Las Palmas    0.636364   1.727273  0.399621  1.518561
Leganes       1.083333   1.083333  0.680308  0.952431
Levante       1.666667   1.444444  1.046627  1.269907
Malaga        0.454545   1.181818  0.285444  1.039015
Real Madrid   3.500000   1.100000  2.197917  0.967083
Sevilla       1.636364   1.727273  1.027597  1.518561
Sociedad      2.800000   1.200000  1.758333  1.055000
Valencia      1.700000   1.100000  1.067560  0.967083
Villarreal    1.750000   1.333333  1.098958  1.172222

In [95]:
#Factor de ataque y defensa de locales y visitantes
def fayd(data):
  soccer_vprom['f_a_v'] = soccer_vprom['prom_gf_v'] / prom_golv
  #Factor de defensa
  soccer_vprom['f_d_v'] = soccer_vprom['prom_gc_v'] / prom_goll

In [96]:
fayd(data_18v)

In [97]:
promg_v = promgv(data_18v)

In [101]:
tablapre = promg_l.merge(promg_v, on = ['equipo'])
tablapre

             prom_gf_l  prom_gc_l  prom_gf_v  prom_gc_v
equipo
Alaves        1.400000   1.000000   1.181818   1.363636
Ath Bilbao    1.272727   1.000000   0.900000   1.900000
Ath Madrid    1.833333   0.416667   1.222222   1.000000
Barcelona     2.454545   0.636364   2.700000   1.500000
Betis         1.800000   1.600000   1.545455   1.272727
Celta         2.090909   1.181818   0.600000   2.200000
Eibar         0.900000   0.900000   1.181818   1.090909
Espanol       1.100000   1.000000   1.000000   1.000000
Getafe        1.100000   0.600000   0.818182   1.000000
Girona        1.600000   0.900000   1.181818   2.181818
La Coruna     1.200000   1.700000   0.636364   2.272727
Las Palmas    0.636364   1.727273   0.400000   1.700000
Leganes       1.083333   1.083333   0.900000   2.400000
Levante       1.666667   1.444444   1.166667   1.916667
Malaga        0.454545   1.181818   0.600000   1.700000
Real Madrid   3.500000   1.100000   2.416667   1.583333
Sevilla       1.636364   1.727273   1.100000   1.700000
Sociedad      2.800000   1.200000   0.636364   1.636364
Valencia      1.700000   1.100000   1.090909   0.909091
Villarreal    1.750000   1.333333   1.333333   1.555556

In [99]:
def minmaxL(data):
  max_goals= data['Goles_L'].max()
  min_goals= data['Goles_L'].min()
  print((min_goals,max_goals))

In [100]:
def minmaxV (data):
  max_goals_v = soccer['Goles_V'].max()
  min_goals_v = soccer['Goles_V'].min()
  print((min_goals_v, max_goals_v))